.btn {
    float: right;
    padding: 0px;
    background-repeat: no-repeat;
    margin: auto;
    background-color: transparent;
}

.btn-28 {
    width: 100%;
    height: 100%;
}

.btn-22 {
    width: 100%;
    height: 100%;
}

.btn-save {
    background-image: url(../icons/icn-save.svg);
}

.btn-menu {
    background-image: url(../icons/icn-menu.svg);
}

.btn-delete {
    background-image: url(../icons/icn-delete.svg);
}

.btn-container {
    display: block;
    border-radius: 50%;
    background-color: black;
    text-align: center;
}

.btn-container-square {
    display: inline-block;
    background-color: black;
    margin:auto;
    margin-right: 5px;
    width: fit-content;
}

.btn-container-32 {
    height: 32px;
    width: 32px;
    line-height: 32px;
}

.btn-container-28 {
    height: 28px;
    width: 28px;
    line-height: 28px;
}