.note {
    width: fit-content;
    height: fit-content;
    min-width: 100px;
    margin: 10px;
    border: #333333;
    border-style: solid;
}

.note-header{
    background-color: #333333;
    display: inline-flex;
    width: 100%;
    float: right;
    height: fit-content;
}

.note-content{
    display: inline-block;
    width: 100%;
    background-color: #cccccc;
}

.note-title {
    text-align: center;
    margin: auto;
    margin-top:5px;
    margin-bottom:5px;
}

.note-title-completed-true {
    color: #00f200;
}

.note-title-completed-false {
    color: #ffffff;
}

.completed-box{
    width: 28px;
    height: 28px;
}